# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cmd,bat}]
end_of_line = crlf

# Web / config files
[*.{ts,js,tsx,jsx,css,scss,html,json,yml,yaml}]
indent_size = 2

[*.ts]
quote_type = single
ij_typescript_use_double_quotes = false

[*.md]
max_line_length = off
trim_trailing_whitespace = false

# C# code style (Roslyn / dotnet format)
[*.cs]
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = false:suggestion

csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true

csharp_indent_case_contents = true
csharp_indent_switch_labels = true

csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true

csharp_prefer_braces = true:suggestion

# Namespace and using style
csharp_style_namespace_declarations = file_scoped:warning
csharp_using_directive_placement = outside_namespace:suggestion

# Null checking
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion

dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion

dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion

dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_coalesce_expression = true:suggestion

# Remove unused using directives
dotnet_diagnostic.IDE0005.severity = warning

# MSBuild project files
[*.{csproj,props,targets}]
indent_size = 2
