# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Angular specific
/dist/
/out-tsc/
/tmp/
/coverage/
/e2e/test-output/
/.angular/
.angular/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Node modules and dependency files
/node_modules/
/package-lock.json
/artskart3.client/package-lock.json

# Environment files
/.env

# Angular CLI and build artefacts
/.angular-cli.json
/.ng/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Visual Studio
.vs

# Visual Studio Code
*/.vscode/*
!*/.vscode/settings.json
!*/.vscode/tasks.json
!*/.vscode/launch.json
!*/.vscode/extensions.json
