<div class="observation-list">
  <h2>Coordinates/municipality for location</h2>
<!--  <adb-dropdown class="filter-dropdown" variant="tertiary" icon="sort" label={{filterBy()}}>-->
<!--    @for (group of filterByOptions; track group)-->
<!--    {-->
<!--      <adb-dropdown-item value="group" (click)="setFilter(group)" selected>{{ group }}</adb-dropdown-item>-->
<!--    }-->
<!--  </adb-dropdown>-->
  @if(this.topLevelFilter().length === 0) {
    <div>
      No observations found
    </div>
  }
  @for (topLevelGroup of topLevelFilter(); track topLevelGroup.groupKeyId) {
    <adb-accordion>
      <adb-accordion-item [attr.heading]="topLevelGroup.groupKeyId">
        @for (registrationType of topLevelGroup.registrationTypes; track registrationType.registrationKeyId) {
          <adb-acordion>
            <adb-accordion-item [attr.heading]="registrationType.registrationKeyId">
              @for (species of registrationType.species; track species.speciesKeyId) {
                <adb-accordion>
                  <adb-accordion-item [attr.heading]="species.speciesKeyId">
                    @for (registration of species.registrations; track $index) {
                      <div>
                        {{registration}}
                      </div>
                    }
                  </adb-accordion-item>
                </adb-accordion>
              }
            </adb-accordion-item>
          </adb-acordion>
        }
      </adb-accordion-item>
    </adb-accordion>
  }
</div>

