.observation-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 1rem;
  padding: 1rem;
  width: 20rem;
  border-radius: 1rem;
  height: 1037px;
  overflow: auto;
  background-color: var(--adb-surface-primary, #fff);
  top: 0;
  left: 0;
}

.observation-item {
  margin-bottom: 1rem;
}

.observation-details {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.filter-dropdown {
  display: inline-flex;
  padding: var(--spacing-spacing-2xsm, 4px) var(--spacing-spacing-xsm, 8px);
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacing-spacing-3xsm, 2px);
  border-bottom: var(--spacing-spacing-3xsm, 2px) solid var(--border-base-border-subtle, #D2DDE0);
}

adb-accordion {
  --adb-border-default: transparent;
}

adb-accordion-item adb-accordion {
  --adb-border-default: transparent;
}
