.map-toolbar-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.map-toolbar-top {
  --map-control-gap: 8px;
  position: absolute;
  inset-inline-end: var(--adb-spacing-md);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--map-control-gap);
  z-index: 100;
  pointer-events: auto;
  inset-block-start: var(--adb-spacing-lg);
}
