<div class="map-toolbar-container" role="toolbar">
  <!-- Top Controls -->
  <div class="map-toolbar-top">
    <app-map-type-selector
      [isOpen]="openMenu() === 'mapTypes'"
      (mapTypeSelected)="onMapTypeSelected($event)"
      (mapTypesOpenChange)="onMapTypesOpenChange($event)"
    ></app-map-type-selector>
    <app-map-layers
      [isOpen]="openMenu() === 'mapLayers'"
      (mapLayersOpenChange)="onMapLayersOpenChange($event)"
      (mapLayerVisibilityChange)="onMapToolbarMenuItemChange($event)"
    ></app-map-layers>
  </div>
</div>
