<div class="layout-wrapper">
    <app-header></app-header>
    <div class="layout-container">
          <aside class="sidebar">
            <app-resizable-panel
              [minWidth]="280"
              [maxWidth]="500"
              [isDraggable]="true"
            >
              <div class="sidebar-content">
                <!--Filter section will be replaced with filter component in the future-->
                <div class="filter-section">
                  <input
                    id="search"
                    type="text"
                    placeholder="Søk i Artskart- skal oppdatert"
                    class="filter-input"
                  />
                </div>
              </div>
            </app-resizable-panel>
          </aside>
          <ng-content></ng-content>
          <router-outlet></router-outlet>
    </div>
</div>
