<app-autocomplete
  class="search-field"
  variant="with-button"
  [search]="search"
  [label]="'baseLayout.searchPlaceholder' | translate"
  [listLabel]="'sidebar.searchResults' | translate"
  [trackBy]="trackByTaxonId"
  (selected)="onSelected($event)"
>
  <ng-template [appAutocompleteOption]="search" let-row let-term="term">
    <span class="species-row">
      <span class="autocomplete-text">
        <span class="autocomplete-names">
          @if (row.vernacularName) {
            <span class="autocomplete-vernacular"><app-highlight-text [text]="row.vernacularName" [term]="term" /></span>{{ ' ' }}
          }
          <span class="autocomplete-scientific"
            ><app-highlight-text [text]="row.scientificNameMarkup" [term]="term" [markup]="true"
          /></span>
        </span>
        @if (matchLine(row, term); as matchLine) {
          <span class="autocomplete-match">
            @if (matchLine.kind === 'id') {
              {{ 'sidebar.taxonIdLabel' | translate }}{{ ' ' }}
            } @else if (matchLine.kind === 'synonym') {
              {{ 'sidebar.synonymMatch' | translate }}{{ ' ' }}
            }
            <app-highlight-text [text]="matchLine.text" [term]="term" [markup]="matchLine.isMarkup" />
          </span>
        }
        @if (row.species.taxonGroupName) {
          <span class="autocomplete-group">{{ row.species.taxonGroupName }}</span>
        }
      </span>
      @if (row.species.rank) {
        <span class="autocomplete-rank">{{ 'sidebar.rank.' + row.species.rank | translate }}</span>
      }
    </span>
  </ng-template>
</app-autocomplete>
