<div class="observation-list">
  <h2>Coordinates/municipality for location</h2>
  <adb-dropdown class="filter-dropdown" variant="tertiary" icon="sort" label={{filterBy()}}>
    @for (group of filterByOptions; track group)
    {
      <adb-dropdown-item value="group" (click)="setFilter(group)" selected>{{ group }}</adb-dropdown-item>
    }
  </adb-dropdown>
  @if (groupedObservations().length === 0) {
    <div class="empty-state">No observations found</div>
  }
  @for (group of groupedObservations(); track group.groupKey) {
    <adb-accordion class="observation-group">
      <adb-accordion-item class="observation-item" [attr.heading]="group.groupKey + ' (' + group.observations.length + ')'">
        @for (observation of group.observations; track observation.id) {
          <div class="observation-details">
            {{observation.preferredPopularName || ""}} <div [innerHTML]="observation.scientificName"></div>
          </div>

        }
      </adb-accordion-item>
    </adb-accordion>
  }
</div>

