<div class="observation-list">
  @if (groupedObservations().length === 0) {
    <div class="empty-state">No observations found</div>
  }
  @for (group of groupedObservations(); track group.locationId) {
    <adb-accordion>
      <adb-accordion-item [attr.heading]="group.locationId + ' (' + group.observations.length + ')'">
        @for (observation of group.observations; track observation.id) {
          <div class="observation-item">
            <div class="observation-popular-name">
              {{observation.preferredPopularName || ""}}
            </div>
            <div class="observation-scientific-name" [innerHTML]="observation.scientificName" ]></div>
          </div>
        }
      </adb-accordion-item>
    </adb-accordion>
  }
</div>

